<div class = "container color-dark">
  <div class = "col">
    <p>Add a bucket list item</p>
  </div>
  <div calss="col">
    <p> Your bucket List</p>
  </div>
</div>
<div class = "container color-light">
    <div class = "col">
      <p class = "sm">Used this form below to add what you  want to do</p>
      <form>
        <input type = "text" class = "txt" name = "item" placeholder="Life good..">
        <input type = "submit" class = "btn" value = "Add Item">
      </form>
    </div>
    <div class="col">
      <p class = "life-container"> I want to climb a mountain
      </p>
    </div>
  </div>
